* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", open-sans;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#969393, #4552e2);
  font-family: "Bungee Hairline", cursive;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.calculator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 650px;
  margin: 5% 0;
  background-color: orange;
  border-radius: 28px;
  box-shadow: 8px 10px 5px #5f5f5f;
}
.calculator__top {
  height: 30%;
  width: 95%;
  background-color: #fcaf20;
  border-radius: 18px;
}
.calculator__screen {
  height: 25%;
  width: 94%;
  background-color: #271b05;
  border: 8px solid #414040;
  border-top: 10px solid #6b6a6a;
  border-bottom: 13px solid #5a5959;
  border-radius: 8px;
  color: chartreuse;
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: end;
}
.calculator__buttons {
  height: 45%;
  width: 94%;
  background-color: #ffb223;
  border-radius: 18px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  padding: 1.2rem 0.4rem 2rem 0.5rem;
}
.calculator__buttons--left {
  background-color: chartreuse;
  border: 2px solid black;
  width: 26%;
  display: grid;
  grid-template-areas: "btn1 btn1" "btn2 btn3" "btn4 btn5" "btn6 btn6";
}
.calculator__buttons--centre {
  background-color: hotpink;
  border: 2px solid black;
  width: 38%;
  display: grid;
  grid-template-areas: "btn7 btn8 btn9" "btn10 btn11 btn12" "btn13 btn14 btn15" "btn16 btn16 btn17";
}
.calculator__buttons--right {
  background-color: yellow;
  border: 2px solid black;
  width: 26%;
  display: grid;
  grid-template-areas: "btn18 btn18" "btn19 btn20" "btn19 btn21" "btn22 btn22";
}

.button {
  border: 0.13rem solid #616060;
  background-color: yellow;
  font-family: "Chakra Petch", sans-serif;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  margin: 0;
}
.button--red {
  background-color: red;
  color: white;
}
.button--red-text {
  color: red;
}

header {
  background: #023d6d;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
}

.btn1 {
  grid-area: btn1;
}

.btn2 {
  grid-area: btn2;
}

.btn3 {
  grid-area: btn3;
}

.btn4 {
  grid-area: btn4;
}

.btn5 {
  grid-area: btn5;
}

.btn6 {
  grid-area: btn6;
}

.btn7 {
  grid-area: btn7;
}

.btn8 {
  grid-area: btn8;
}

.btn9 {
  grid-area: btn9;
}

.btn10 {
  grid-area: btn10;
}

.btn11 {
  grid-area: btn11;
}

.btn12 {
  grid-area: btn12;
}

.btn13 {
  grid-area: btn13;
}

.btn14 {
  grid-area: btn14;
}

.btn15 {
  grid-area: btn15;
}

.btn16 {
  grid-area: btn16;
}

.btn17 {
  grid-area: btn17;
}

.btn18 {
  grid-area: btn18;
}

.btn19 {
  grid-area: btn19;
}

.btn20 {
  grid-area: btn20;
}

.btn21 {
  grid-area: btn21;
}

.btn22 {
  grid-area: btn22;
}
